name: "Android flake"
on:
  pull_request:
  push:
  
jobs:
  android-build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        
    - uses: cachix/cachix-action@v14
      with:
        name: mycache
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: "Build flake"
    - run: nix build --option sandbox false --verbose ./nix/aarch64-android --out-link ./nix/aarch64-android/result

    - name: "Run flake check"
      run: cd nix/aarch64-android && nix flake check

    - name: "Success"
      run: echo "Build completed successfully"
